*.pyc
__pycache__/
.venv/
env/
.idea/
.vscode/
.DS_Store
dist/
build/
*.egg-info/
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
.mypy_cache/
.pyre/
.pytype/
.pyright/
coverage.xml
nosetests.xml
test-reports/
pip-wheel-metadata/
instance/
.webassets-cache
.coverage.*
.pytest_cache/
celerybeat-schedule
celerybeat.pid
.pytest_tmp/
